.containerCart {
}
.headerCart {
  border: 2px solid blue;
  padding: 20px;
}
.resetCart {
  text-align: end;
}
.tableCart {
  width: 80vw;
  border: 2px solid blue;
  margin: 0 auto;
}
.trashCart {
  width: 25px;
}
